body {
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
background-color: #000000; 
color: #ffffff; 
margin: 0; 
padding: 0; 
} 
header { 
background-color: #e04bed; 
color: white; 
padding: 20px; 
text-align: center; 
} 
main { 
padding: 20px; 
} 
button { 
background-color: #13ed22; 
color: white; 

 
border: none; 
padding: 10px 20px; 
cursor: pointer; 
} 
button:hover { 
background-color: #94d2bd; 
} 
footer { 
background-color: #005f73; 
color: white; 
text-align: center; 
padding: 10px; 
position: fixed; 
width: 100%; 
bottom: 0; 
}